/*
 * These colors are meant for a dark Homepage theme.
 * Class names and values are inspired by https://getbootstrap.com/docs/4.0/components/alerts/
 */

.alert-danger {
  background-color: #C8ADAF !important;
  color: #721c24;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.alert-warning {
  background-color: #CEC3A5 !important;
  color: #721c24;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.alert-info {
  background-color: #A8BEC2 !important;
  color: #721c24;

  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.observed-for-alerts {
  border: 1px dashed #777 !important;
}
